/* Add CSS Styling */
.clickme {
    background-color: black;
    color: white;
}

.noclickme {
    background-color: rgb(245, 245, 5);
}

.clickme 
.noclickme {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}